body {
    background-color: rgb(255, 255, 255);
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin: 0;
}

header {
    background: #52e24571;
    background: linear-gradient(45deg, #52e24571, #e6900e7e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}


.search {
    flex: 1;
    justify-content: center;
}

.search form {
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: rgb(82, 27, 27);
    max-width: 30em;
    margin: 0 auto;
}

.search form input {
    width: 100%;
    padding: 0.7em;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
}
/* 

Tohle ma zustat vypnuty, protoze to je na picu.

.search-container {
    margin: 20px;
    display: flex;
    align-items: center;
}
*/

#search-input {
    padding: 5px;
    width: 200px;
    margin-right: 10px;
    flex-grow: 1;
}

button {
    padding: 5px;
}

.login {
    display: flex;
    align-items: center;
}

.person {
    margin-right: 5px;
}

.login-links {
    display: flex;
    flex-direction: column;
}

.login a {
    text-decoration: none;
    color: white;
}
